@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@charset "UTF-8";
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(102, 102, 102);
  line-height: 1;
  font-family: Poppins;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Poppins;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.125rem 3rem;
  color: #fff;
  background: rgb(255, 100, 40);
  border-radius: 40px;
  font-weight: 600;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background: #d83c00;
    -webkit-box-shadow: 1px 1px 2px rgba(255, 100, 40, 0.4);
            box-shadow: 1px 1px 2px rgba(255, 100, 40, 0.4);
    color: #fff0ea;
    text-shadow: -1px -1px 0 #722000;
  }
}
.button._fw {
  width: 100%;
}
@media (max-width: 29.99875em) {
  .button {
    width: 100%;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: CalSans;
  font-weight: 600;
  color: rgb(18, 18, 18);
  line-height: 1.2045454545;
  text-align: center;
}
@supports (font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem )) {
  .title {
    font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.7362637363rem  +  1.3186813187vw , 2.75rem )) {
  .title {
    font-size: calc(2rem + 0.75 * (100vw - 20rem) / 56.875);
  }
}
.title span {
  color: rgb(255, 100, 40);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 9.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@supports (gap: clamp( 3.4375rem , -19.1742511521rem  +  36.4823348694vw , 8.1875rem )) {
  .header__container {
    gap: clamp( 3.4375rem , -19.1742511521rem  +  36.4823348694vw , 8.1875rem );
  }
}
@supports not (gap: clamp( 3.4375rem , -19.1742511521rem  +  36.4823348694vw , 8.1875rem )) {
  .header__container {
    gap: calc(3.4375rem + 4.75 * (100vw - 61.98rem) / 13.02);
  }
}
@supports (gap: clamp( 1.875rem , -1.5033783784rem  +  16.8918918919vw , 3.4375rem )) {
  .header__container {
    gap: clamp( 1.875rem , -1.5033783784rem  +  16.8918918919vw , 3.4375rem );
  }
}
@supports not (gap: clamp( 1.875rem , -1.5033783784rem  +  16.8918918919vw , 3.4375rem )) {
  .header__container {
    gap: calc(1.875rem + 1.5625 * (100vw - 20rem) / 9.25);
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 5rem;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.6875rem;
          flex: 0 0 7.6875rem;
  padding: 0.3125rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
    width: 1.75rem;
    overflow: hidden;
  }
}
.header__text {
  font-weight: 600;
  font-family: CalSans;
  line-height: 1.2083333333;
  color: rgb(18, 18, 18);
}
@supports (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
  .header__text {
    font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
  .header__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@supports ((-moz-column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem ))) {
  .menu-header__list {
    -webkit-column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem );
       -moz-column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem );
            column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem );
  }
}
@supports not ((-moz-column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -11.2609447005rem  +  19.6812596006vw , 3.5rem ))) {
  .menu-header__list {
    -webkit-column-gap: calc(0.9375rem + 2.5625 * (100vw - 61.98rem) / 13.02);
       -moz-column-gap: calc(0.9375rem + 2.5625 * (100vw - 61.98rem) / 13.02);
            column-gap: calc(0.9375rem + 2.5625 * (100vw - 61.98rem) / 13.02);
  }
}
@media (min-width: 47.99875em) {
  .menu-header__list {
    background-color: rgba(255, 255, 255, 0.349);
    padding: 0px 0.625rem 0px 0px;
  }
}
.menu-header__item {
  padding: 0.3125rem 0px;
}
.menu-header__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    color: rgb(255, 100, 40);
  }
}

.footer {
  background-color: rgb(238, 238, 238);
}
@supports (padding-top: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
  .footer__container {
    padding-top: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
  .footer__container {
    padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-right: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem )) {
  .footer__container {
    padding-right: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem );
  }
}
@supports not (padding-right: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem )) {
  .footer__container {
    padding-right: calc(0.9375rem + 1.5625 * (100vw - 48.06125rem) / 28.18875);
  }
}
@supports (padding-left: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem )) {
  .footer__container {
    padding-left: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem );
  }
}
@supports not (padding-left: clamp( 0.9375rem , -1.7265309742rem  +  5.5429914416vw , 2.5rem )) {
  .footer__container {
    padding-left: calc(0.9375rem + 1.5625 * (100vw - 48.06125rem) / 28.18875);
  }
}
@supports (padding-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem )) {
  .footer__container {
    padding-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem )) {
  .footer__container {
    padding-bottom: calc(1.25rem + 1.4375 * (100vw - 20rem) / 56.875);
  }
}
.footer__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 1fr 20%;
  grid-template-columns: 25% 1fr 20%;
  gap: 1.25rem;
}
@supports (margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer__columns:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer__columns:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}
@media (max-width: 61.99875em) {
  .footer__columns {
    -ms-grid-columns: 35% 1fr 20%;
    grid-template-columns: 35% 1fr 20%;
  }
}
@media (max-width: 47.99875em) {
  .footer__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34.375em) {
  .footer__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
@media (max-width: 47.99875em) {
  .footer__column:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}
@media (max-width: 34.375em) {
  .footer__column:last-child {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: left;
  }
}
.footer__copyright {
  text-align: center;
  padding: 0.3125rem;
}

.column-footer-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@supports (gap: clamp( 1.25rem , -1.0796703297rem  +  11.6483516484vw , 7.875rem )) {
  .column-footer-full {
    gap: clamp( 1.25rem , -1.0796703297rem  +  11.6483516484vw , 7.875rem );
  }
}
@supports not (gap: clamp( 1.25rem , -1.0796703297rem  +  11.6483516484vw , 7.875rem )) {
  .column-footer-full {
    gap: calc(1.25rem + 6.625 * (100vw - 20rem) / 56.875);
  }
}
@media (max-width: 34.375em) {
  .column-footer-full {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 29.99875em) {
  .column-footer-full {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.column-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.column-footer__logo:not(:last-child) {
  margin-bottom: 1.25rem;
}
.column-footer__logo img {
  max-width: 100%;
}
.column-footer__logo-text {
  font-family: CalSans;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(18, 18, 18);
}
@supports (font-size: clamp( 1.625rem , 1.3173076923rem  +  1.5384615385vw , 2.5rem )) {
  .column-footer__logo-text {
    font-size: clamp( 1.625rem , 1.3173076923rem  +  1.5384615385vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.625rem , 1.3173076923rem  +  1.5384615385vw , 2.5rem )) {
  .column-footer__logo-text {
    font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 56.875);
  }
}
.column-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.column-footer__link:not(:last-child) {
  margin-bottom: 1.25rem;
}
.column-footer__link span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .column-footer__link:hover span {
    color: rgb(255, 100, 40);
  }
  .column-footer__link:hover .column-footer__link-svg {
    stroke: rgb(255, 100, 40);
  }
}
.column-footer__link-svg {
  stroke: #666;
  width: 1.25rem;
  height: 1.25rem;
  fill: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.column-footer__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}
.column-footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.column-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.column-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8125rem;
}
.column-footer__social-svg {
  max-width: 1.3125rem;
  max-height: 1.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .column-footer__social-svg:hover {
    fill: rgb(255, 100, 40);
  }
}

@supports (padding-top: clamp( 0.625rem , -1.7925824176rem  +  12.0879120879vw , 7.5rem )) {
  .page__store {
    padding-top: clamp( 0.625rem , -1.7925824176rem  +  12.0879120879vw , 7.5rem );
  }
}
@supports not (padding-top: clamp( 0.625rem , -1.7925824176rem  +  12.0879120879vw , 7.5rem )) {
  .page__store {
    padding-top: calc(0.625rem + 6.875 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem )) {
  .page__store {
    padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem )) {
  .page__store {
    padding-bottom: calc(3.125rem + 8.125 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , -0.6112637363rem  +  18.6813186813vw , 13.75rem )) {
  .page__categories {
    padding-bottom: clamp( 3.125rem , -0.6112637363rem  +  18.6813186813vw , 13.75rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , -0.6112637363rem  +  18.6813186813vw , 13.75rem )) {
  .page__categories {
    padding-bottom: calc(3.125rem + 10.625 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem )) {
  .page__brands {
    padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 0.2678571429rem  +  14.2857142857vw , 11.25rem )) {
  .page__brands {
    padding-bottom: calc(3.125rem + 8.125 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-top: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem )) {
  .page__why {
    padding-top: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem )) {
  .page__why {
    padding-top: calc(3.125rem + 2.6875 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem )) {
  .page__why {
    padding-bottom: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 2.1799450549rem  +  4.7252747253vw , 5.8125rem )) {
  .page__why {
    padding-bottom: calc(3.125rem + 2.6875 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-top: clamp( 3.125rem , -1.0508241758rem  +  20.8791208791vw , 15rem )) {
  .page__customers {
    padding-top: clamp( 3.125rem , -1.0508241758rem  +  20.8791208791vw , 15rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , -1.0508241758rem  +  20.8791208791vw , 15rem )) {
  .page__customers {
    padding-top: calc(3.125rem + 11.875 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 4.375rem , 0.6387362637rem  +  18.6813186813vw , 15rem )) {
  .page__customers {
    padding-bottom: clamp( 4.375rem , 0.6387362637rem  +  18.6813186813vw , 15rem );
  }
}
@supports not (padding-bottom: clamp( 4.375rem , 0.6387362637rem  +  18.6813186813vw , 15rem )) {
  .page__customers {
    padding-bottom: calc(4.375rem + 10.625 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem )) {
  .page__favourite {
    padding-bottom: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem )) {
  .page__favourite {
    padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

.main {
  padding: 0px 0px 2.5rem 0px;
}
.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55.9166666667%;
  grid-template-columns: 1fr 55.9166666667%;
  gap: 1.25rem;
}
@media (max-width: 61.99875em) {
  .main__container {
    -ms-grid-columns: 1fr 45.8333333333%;
    grid-template-columns: 1fr 45.8333333333%;
  }
}
@media (max-width: 47.99875em) {
  .main__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@supports (padding-top: clamp( 5rem , 1.5934065934rem  +  17.032967033vw , 14.6875rem )) {
  .main__body {
    padding-top: clamp( 5rem , 1.5934065934rem  +  17.032967033vw , 14.6875rem );
  }
}
@supports not (padding-top: clamp( 5rem , 1.5934065934rem  +  17.032967033vw , 14.6875rem )) {
  .main__body {
    padding-top: calc(5rem + 9.6875 * (100vw - 20rem) / 56.875);
  }
}
@supports (padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
  .main__body {
    padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem );
  }
}
@supports not (padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
  .main__body {
    padding-bottom: calc(3.75rem + 0 * (100vw - 20rem) / 56.875);
  }
}
@media (max-width: 47.99875em) {
  .main__body {
    text-align: center;
  }
}
.main__image-ibg {
  -webkit-transform: translate(8.4375rem, 0px);
      -ms-transform: translate(8.4375rem, 0px);
          transform: translate(8.4375rem, 0px);
  position: relative;
}
@media (max-width: 61.99875em) {
  .main__image-ibg {
    -webkit-transform: translate(0.9375rem, 0px);
        -ms-transform: translate(0.9375rem, 0px);
            transform: translate(0.9375rem, 0px);
  }
}
@media (max-width: 47.99875em) {
  .main__image-ibg {
    display: none;
  }
}
.main__image-ibg img {
  border-radius: 0px 0px 151px 360px;
}
@media (max-width: 61.99875em) {
  .main__image-ibg img {
    border-radius: 0px 0px 0px 360px;
  }
}
.main__image-ibg::after {
  content: url("../img/main/decor.png");
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
@media (max-width: 76.875em) {
  .main__image-ibg::after {
    left: 35%;
  }
}
.main__title {
  line-height: 1.1964285714;
}
@supports (font-size: clamp( 2rem , 1.4725274725rem  +  2.6373626374vw , 3.5rem )) {
  .main__title {
    font-size: clamp( 2rem , 1.4725274725rem  +  2.6373626374vw , 3.5rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.4725274725rem  +  2.6373626374vw , 3.5rem )) {
  .main__title {
    font-size: calc(2rem + 1.5 * (100vw - 20rem) / 56.875);
  }
}
.main__title:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 47.99875em) {
  .main__title {
    text-align: left;
  }
}
.main__text {
  line-height: 1.5;
}
@supports (margin-bottom: clamp( 1.25rem , 0.9642857143rem  +  1.4285714286vw , 2.0625rem )) {
  .main__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.9642857143rem  +  1.4285714286vw , 2.0625rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.9642857143rem  +  1.4285714286vw , 2.0625rem )) {
  .main__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.8125 * (100vw - 20rem) / 56.875);
  }
}
@media (min-width: 47.99875em) {
  .main__text {
    max-width: 25rem;
  }
}
.main__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-main__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}
.buttons-main__svg {
  max-width: 1.625rem;
  max-height: 2rem;
}

@supports (margin-bottom: clamp( 1.875rem , 0.6442307692rem  +  6.1538461538vw , 5.375rem )) {
  .store__title:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.6442307692rem  +  6.1538461538vw , 5.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.6442307692rem  +  6.1538461538vw , 5.375rem )) {
  .store__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.5 * (100vw - 20rem) / 56.875);
  }
}
@supports (margin-bottom: clamp( 1.875rem , 0.4244505495rem  +  7.2527472527vw , 6rem )) {
  .store__body:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.4244505495rem  +  7.2527472527vw , 6rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.4244505495rem  +  7.2527472527vw , 6rem )) {
  .store__body:not(:last-child) {
    margin-bottom: calc(1.875rem + 4.125 * (100vw - 20rem) / 56.875);
  }
}
.store__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
@supports (gap: clamp( 1.5625rem , 0.9251373626rem  +  3.1868131868vw , 3.375rem )) {
  .store__columns {
    gap: clamp( 1.5625rem , 0.9251373626rem  +  3.1868131868vw , 3.375rem );
  }
}
@supports not (gap: clamp( 1.5625rem , 0.9251373626rem  +  3.1868131868vw , 3.375rem )) {
  .store__columns {
    gap: calc(1.5625rem + 1.8125 * (100vw - 20rem) / 56.875);
  }
}
@media (max-width: 56.25em) {
  .store__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 32.5em) {
  .store__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  line-height: 1.5;
}
.header-block:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 29.99875em) {
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header-block__text {
  font-weight: 600;
  letter-spacing: 8%;
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}
.header-block__link {
  font-weight: 500;
}
@media (any-hover: hover) {
  .header-block__link:hover {
    text-decoration: underline;
  }
}

.column-store {
  display: -ms-grid;
  display: grid;
}
.column-store__image-ibg {
  padding: 0px 0px 52.1978021978% 0px;
}
.column-store__image-ibg:not(:last-child) {
  margin-bottom: 2.5rem;
}
.column-store__label {
  font-weight: 500;
  color: rgb(18, 18, 18);
  line-height: 1.5;
}
.column-store__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}
@media (any-hover: hover) {
  .column-store__label:hover {
    text-decoration: underline;
  }
}
.column-store__price {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.3537087912rem  +  6.043956044vw , 5rem )) {
  .categories__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.3537087912rem  +  6.043956044vw , 5rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.3537087912rem  +  6.043956044vw , 5rem )) {
  .categories__title:not(:last-child) {
    margin-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 56.875);
  }
}
.categories__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@supports (gap: clamp( 1.25rem , 0.1730769231rem  +  5.3846153846vw , 4.3125rem )) {
  .categories__columns {
    gap: clamp( 1.25rem , 0.1730769231rem  +  5.3846153846vw , 4.3125rem );
  }
}
@supports not (gap: clamp( 1.25rem , 0.1730769231rem  +  5.3846153846vw , 4.3125rem )) {
  .categories__columns {
    gap: calc(1.25rem + 3.0625 * (100vw - 20rem) / 56.875);
  }
}
@media (max-width: 52.5em) {
  .categories__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 26.25em) {
  .categories__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.categories__column {
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .categories__column:hover .categories__image-ibg img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.categories__image-ibg {
  padding: 0px 0px 127.2727272727% 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.categories__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 5;
}
.categories__image-ibg img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.categories__text {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 1.875rem;
  z-index: 10;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem )) {
  .brands__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem )) {
  .brands__title:not(:last-child) {
    margin-bottom: calc(1.5625rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}
.brands__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 3.125rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .brands__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (any-hover: hover) {
  .brands__item:hover img {
    -webkit-animation: brands 2s infinite ease-in-out;
            animation: brands 2s infinite ease-in-out;
  }
}
.brands__item img {
  max-width: 100%;
}

@-webkit-keyframes brands {
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes brands {
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.why {
  background-color: rgb(18, 18, 18);
}
.why__title {
  color: #fff;
}
@supports (margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem )) {
  .why__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.4635989011rem  +  5.4945054945vw , 4.6875rem )) {
  .why__title:not(:last-child) {
    margin-bottom: calc(1.5625rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}
.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .why__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item-why {
  max-width: 18.75rem;
  text-align: center;
  padding: 0rem 2.9375rem;
}
.item-why__icon {
  display: inline-block;
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
  padding: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-why__icon:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (any-hover: hover) {
  .item-why__icon:hover {
    background-color: #fff;
  }
  .item-why__icon:hover .item-why__svg {
    fill: rgb(255, 100, 40);
  }
}
.item-why__svg {
  max-width: 2rem;
  max-height: 2rem;
  fill: #a4a4a4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-why__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 8%;
  text-transform: uppercase;
  color: #fff;
}
.item-why__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.item-why__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}

@supports (margin-bottom: clamp( 1.875rem , 0.1387362637rem  +  8.6813186813vw , 6.8125rem )) {
  .customers__title:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.1387362637rem  +  8.6813186813vw , 6.8125rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.1387362637rem  +  8.6813186813vw , 6.8125rem )) {
  .customers__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 4.9375 * (100vw - 20rem) / 56.875);
  }
}

.slide-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.25rem;
}
@supports (gap: clamp( 1.25rem , -36.0903110048rem  +  60.2870813397vw , 9.125rem )) {
  .slide-customers {
    gap: clamp( 1.25rem , -36.0903110048rem  +  60.2870813397vw , 9.125rem );
  }
}
@supports not (gap: clamp( 1.25rem , -36.0903110048rem  +  60.2870813397vw , 9.125rem )) {
  .slide-customers {
    gap: calc(1.25rem + 7.875 * (100vw - 61.9375rem) / 13.0625);
  }
}
@media (max-width: 61.99875em) {
  .slide-customers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0rem;
  }
}
.slide-customers__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 61.99875em) {
  .slide-customers__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slide-customers__image-ibg {
  width: 20rem;
  height: 20rem;
}
.slide-customers__image-ibg img {
  border-radius: 50%;
}
@media (max-width: 32.5em) {
  .slide-customers__image-ibg {
    width: 16.875rem;
    height: 16.875rem;
  }
}
.slide-customers__image-ibg::before {
  content: "";
  position: absolute;
  width: 284.72px;
  height: 257.89px;
  left: -4.375rem;
  top: 2.375rem;
  background: #FF6428;
  border-radius: 40px 0px 400px 400px;
  -webkit-transform: rotate(-7.72deg);
      -ms-transform: rotate(-7.72deg);
          transform: rotate(-7.72deg);
}
@media (max-width: 32.5em) {
  .slide-customers__image-ibg::before {
    width: 11.25rem;
    height: 9.375rem;
    left: -2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .slide-customers__image-ibg::before {
    display: none;
  }
}
.slide-customers__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 1.8125rem 0px 0px 0px;
}
.slide-customers__text {
  font-weight: 400;
  line-height: 1.5833333333;
}
@supports (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .slide-customers__text {
    font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .slide-customers__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 56.875);
  }
}
@supports (margin-bottom: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
  .slide-customers__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
  .slide-customers__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 56.875);
  }
}
.slide-customers__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.slide-customers__customer {
  font-weight: 600;
  line-height: 1.5833333333;
  color: rgb(18, 18, 18);
}
@supports (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .slide-customers__customer {
    font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .slide-customers__customer {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 56.875);
  }
}
.slide-customers__customer:not(:last-child) {
  margin-bottom: 0.5rem;
}
.slide-customers__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.slide-customers__proffesion {
  font-weight: 500;
  line-height: 1.6111111111;
  letter-spacing: 0.08em;
  padding: 0px 0px 0.625rem 0px;
}
@supports (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
  .slide-customers__proffesion {
    font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
  .slide-customers__proffesion {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}
.slide-customers__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0px, -200%);
      -ms-transform: translate(0px, -200%);
          transform: translate(0px, -200%);
}
.slide-customers__pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 1rem;
  background: #C4C4C4;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slide-customers__pagination .swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 0.75rem;
  background: rgb(255, 100, 40);
}
@media (max-width: 61.99875em) {
  .slide-customers__pagination {
    -webkit-transform: translate(0px, -150%);
        -ms-transform: translate(0px, -150%);
            transform: translate(0px, -150%);
  }
}
@media (max-width: 29.99875em) {
  .slide-customers__pagination {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 47.99875em) {
  .favourite__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 47.99875em) {
  .favourite__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 30.25rem;
  }
  @supports (padding-top: clamp( 3.125rem , 1.6744505495rem  +  7.2527472527vw , 7.25rem )) {
    .favourite__content {
      padding-top: clamp( 3.125rem , 1.6744505495rem  +  7.2527472527vw , 7.25rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 1.6744505495rem  +  7.2527472527vw , 7.25rem )) {
    .favourite__content {
      padding-top: calc(3.125rem + 4.125 * (100vw - 20rem) / 56.875);
    }
  }
  @supports (padding-bottom: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem )) {
    .favourite__content {
      padding-bottom: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem )) {
    .favourite__content {
      padding-bottom: calc(3.125rem + 3.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 47.99875em) {
  .favourite__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@supports (margin-bottom: clamp( 1.5625rem , 0.7932692308rem  +  3.8461538462vw , 3.75rem )) {
  .favourite__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.7932692308rem  +  3.8461538462vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.7932692308rem  +  3.8461538462vw , 3.75rem )) {
  .favourite__title:not(:last-child) {
    margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 56.875);
  }
}
@media (min-width: 47.99875em) {
  .favourite__title {
    text-align: left;
  }
}
.favourite__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .favourite__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 29.99875em) {
  .favourite__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.favourite__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .favourite__item:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
.favourite__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .favourite__image-ibg {
    padding: 0px 0px 93.838028169% 0px;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: em(991.68)) {
  .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
